<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Registro</h1>
    <form action="/validaRegistro/" method="POST">
        <label for="nome">Nome de Usuário:</label>
        <input type="text" id="nome" name="nome" placeholder="Digite seu nome">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha">
        <input type="submit" value="Registrar">
    </form>
</body>
</html>
